<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhay.kotlintutorial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ButtonActivity" />
        <activity android:name=".RadioButtonActivity" />
        <activity android:name=".CheckBoxActivity" />
        <activity android:name=".RatingBarActivity" />
        <activity android:name=".ProgressBarActivity" />
        <activity android:name=".SeekBarActivity" />
        <activity android:name=".SwitchActivity" />
        <activity android:name=".TogglebuttonActivity" />
        <activity android:name=".SpinnerActivity" />
        <activity android:name=".AutoCompleteTextViewJavaActivity" />
        <activity android:name=".MultiAutoCompleteTextViewJavaActivity" />
        <activity android:name=".ImageViewJavaActivity" />
        <activity android:name=".ImageButtonActivity" />
        <activity android:name=".VideoViewActivity" />
        <activity android:name=".TextClockActivity" />
        <activity android:name=".DatePickerActivity" />
        <activity android:name=".TimePickerActivity" />
        <activity android:name=".ChronometerActivity" />
        <activity android:name=".EmailActivity" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".PhoneCallActivity" />
        <activity android:name=".PhoneDialActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".FacebookIntentActivity" />
        <activity android:name=".TwitterIntentActivity" />
        <activity android:name=".WhatsAppActivity" />
        <activity android:name=".GooglePlusIntentActivity" />
        <activity android:name=".SimpleToastActivity" />
        <activity android:name=".ToastPositionActivity" />
        <activity android:name=".CustomToastActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".CustomListviewActivity" />

        <activity android:name=".Main2Activity" />
        <activity android:name=".GridViewActivity" />
        <activity android:name=".WebviewActivity" />
        <activity android:name=".SearchViewActivity" />
        <activity android:name=".ContextMenuActivity" />
        <activity android:name=".OptionMenuActivity" />
        <activity android:name=".PopupMenuActivity" />
        <activity android:name=".ActivityLifeCycleActivity" />
        <activity android:name=".FragmentActivityLifeCycle1Activity" />
        <activity android:name=".FragmentActivityLifeCycleCombinedActivity" />
        <activity android:name=".ServiceLifeCycleAActivity" />

        <service
            android:name=".ServiceLifeCycleSJava"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ServiceExampleAActivity" />

        <service
            android:name=".ServiceExampleSJava"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".TelephonyManagerActivity" />
        <activity android:name=".ReadContactsActivity" />
        <activity android:name=".ReadSMSActivity" />
        <activity android:name=".SendSMSActivity" />
        <activity android:name=".WifiActivity" />
        <activity android:name=".ChangeWifiActivity" />
        <activity android:name=".AnimationTweenBounceActivity" />
        <activity android:name=".AnimationTweenFadeActivity" />
        <activity android:name=".AnimationTweenMoveActivity" />
        <activity android:name=".AnimationTweenRotateActivity" />
        <activity android:name=".AnimationTweenSequentialActivity" />
        <activity android:name=".AnimationTweenSlideActivity" />
        <activity android:name=".AnimationTweenZoomActivity" />
        <activity android:name=".AnimTweenTogetherActivity" />
        <activity android:name=".InternalStorageActivity" />
        <activity android:name=".ExternalStoragePublicDirectoryActivity" />
        <activity android:name=".ExternalStorageActivity" />
        <activity android:name=".CacheStorageActivity" />
        <activity android:name=".SQLiteInsertActivity" />
        <activity android:name=".SQLiteReadActivity" />
        <activity android:name=".SQLiteUpdateActivity" />
        <activity android:name=".SQLiteDeleteActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".NotificationInboxActivity" />
        <activity android:name=".NotificationBigTextActivity" />
        <activity android:name=".NotificationBigPictureActivity" />
        <activity
            android:name=".categories.HomeDrawerActivity"
            android:label="@string/title_activity_home_drawer"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ExpandableListViewActivityDemo"></activity>
    </application>

</manifest>